/**
kissy editor cool theme
@author :yiminghe@gmail.com
**/
/*
编辑器容器
*/
.ke-editor-wrap {
    background: white;
    border: 1px solid rgb(206, 213, 224);
    font-size: 13px;
    line-height: 1.2;
    _font-size: 12px;
}

/*
textarea,iframe包装
*/
.ke-textarea-wrap {
    overflow: hidden;
}

.ke-textarea-wrap textarea {
    border-width: 0;
}

/*
工具栏
*/
.ke-editor-tools {
    background-color: rgb(245, 247, 250);
    background: -webkit-gradient(linear, left top, left bottom, from(#f8fafd), to(#f2f5f8));
    background: -moz-linear-gradient(center top, #f8fafd, #f2f5f8) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f8fafd', endColorstr = '#f2f5f8');
    border-bottom: 1px solid rgb(206, 213, 224);
    zoom: 1;
}

/*
状态栏
*/
.ke-editor-status {
    background-color: rgb(235, 238, 242);
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e9ed), to(#f1f4f7));
    background: -moz-linear-gradient(center top, #e7e9ed, #f1f4f7) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e7e9ed', endColorstr = '#f1f4f7');
    border-top: 1px solid rgb(206, 213, 224);
    height: 22px;
    padding: 2px 0;
    overflow: hidden;
    position: relative;
}

/*
工具按钮 
*/
.ke-toolbar-item {
    background: url("toolbar-sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -999999px;
    vertical-align: middle;
    width: 16px;
    margin: 2px 4px; /*扩大可点击区域，不能在a加padding，ie问题*/
}

.ke-toolbar-separator {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    border-left: 1px solid rgb(215, 215, 215);
    border-right: 1px solid #ffffff;
    font-size: 120%;
    margin: 0 2px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 0;
}

.ke-toolbar-source {
    background-position: -22px 50%;
}

.ke-toolbar-preview {
    background-position: -43px 50%;
}

.ke-toolbar-bold {
    background-position: -162px 50%;
}

.ke-toolbar-italic {
    background-position: -185px 50%;
}

.ke-toolbar-underline {
    background-position: -205px 50%;
}

.ke-toolbar-strikeThrough {
    background-position: -221px 50%;
}

.ke-toolbar-ol {
    background-position: -324px 50%;
}

.ke-toolbar-ul {
    background-position: -304px 50%;
}

.ke-toolbar-outdent {
    background-position: -363px 50%;
}

.ke-toolbar-indent {
    background-position: -343px 50%;
}

.ke-toolbar-alignleft {
    background-position: -383px 50%;
}

.ke-toolbar-aligncenter {
    background-position: -403px 50%;
}

.ke-toolbar-alignright {
    background-position: -423px 50%;
}

.ke-toolbar-image {
    background-position: -463px 50%;
}

.ke-toolbar-bgcolor {
    background-position: -263px 50%;
}

.ke-toolbar-color {
    background-position: -243px 50%;
}

.ke-toolbar-undo {
    background-position: -122px 50%;
}

.ke-toolbar-redo {
    background-position: -102px 50%;
}

.ke-toolbar-table {
    background-position: -543px 50%;
}

.ke-toolbar-template {
    background-position: -63px 50%;
}

.ke-toolbar-maximize {
    background-position: -584px 50%;
}

.ke-toolbar-flash {
    background-position: -483px 50%;
}

.ke-toolbar-link {
    background-position: -443px 50%;
}

.ke-toolbar-music {
    background-position: -523px 50%;
}

.ke-toolbar-video {
    background-position: -503px 50%;
}

.ke-toolbar-smiley {
    background-position: -563px 50%;
}

.ke-toolbar-removeformat {
    background-position: -282px 50%;
}

.ke-toolbar-pagebreak {
    background-position: -623px 50%;
}

.ke-input {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #FFFFFF url("text-bg.gif") repeat-x scroll 0 0 transparent;   
    border: 1px solid #B5B8C8;
    height: 22px;
    line-height: 22px;
}

.ke-input-tip {
    color: #969696;
}